NODE_ENV=development
PORT=5001
API_PREFIX=api/v1

DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=andamiaje
DB_PASSWORD=andamiaje
DB_DATABASE=andamiaje
DB_SYNCHRONIZE=false
DB_LOGGING=true

ALLOWEDORIGINSPROD=https://mi-frontend.com,http://localhost:3000

JWT_SECRET=secret
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=notidea
JWT_REFRESH_EXPIRES_IN=1d

ALLOWED_FILE_TYPES=pdf,jpg,jpeg,png

LOG_LEVEL=info

DATABASE_URL=

B2_ENDPOINT=
B2_REGION=
B2_BUCKET=
B2_KEY_ID=

B2_APP_KEY=
B2_BUCKET_ID=